@import '../utilities/mixins';

.project_container {
    //border: solid blue;
    padding: 0.01em 1.5em 0.9em 1.5em;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    //box-shadow: 5px gray;
    @include box-shadow(0px, 5px, 5px, rgb(190, 183, 183));
    h2 {
        height: 65px;
        display: flex;
        align-items: center;
    }
    .img_container {
        height: 111px;
        overflow: hidden;
        //border: solid;
        width: 100%;
        margin: 0 auto;
        img {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            transition: width 0.5s;
        }
        img:hover {
            width: 111%;
        }

    }
    p {
        height: 120px;
        color: #383737;
        font-style: italic;
    }
    .bottom_container {
        display: grid;
        //border: solid;
        //flex-direction: row;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        bottom: 10px;
        align-items: center;
        
        //@include border(black);
        .buttons_container {
            display: flex;
            flex-direction: column;
           // border: solid;
            justify-content: flex-end;
            width: 95%;
            a {
                text-decoration: none;
                font-weight: 500;
                padding: 0.5em;
            }
            .source_code {
                margin-bottom: 0.5em;
                color: #5e42a6;
            }
            .source_code:hover {
                text-decoration: underline;
            }
            .project_live {
                transition: color 0.5s, background-color 0.1s;
                background-color: #f4f0fc;
                border: solid #5e42a6 1px;
                color: #5e42a6;
                border-radius: 0.3em;
            }
            .project_live:hover {
                background-color: #5e42a6;
                border: solid #5e42a6 1px;
                color: white;
                border-radius: 0.3em;
            }
        }
        .icons {
            position: relative;
            //border: solid;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            justify-content: flex-start;
            height: 70%;
            //bottom: 35px;
            right: 27px;
            .iconify {
                margin-right: 0.2em;
                //border: solid;
                font-size: 1.7em;
            }
        }
    }
}