
.main_container {
    //border: solid;
    width: 80%;
    margin: auto;
    .technologies {
        //border: solid;
        padding: 4em;
        
    }
    .projects {
        //border: solid red;
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        justify-content: center;
        grid-gap: 1.7em;
        margin-bottom: 5em;
        
    }
}